<%= form_with model: @blog, local: true do |blog| %>

  <%= render 'errors' %>

  <p><%= blog.label :title %>
    <%= blog.text_field :title %>
    <br>
  </p>

  <p>
    <%= blog.label :content %>
    <%= blog.text_area :content %>
    <br>
  </p>

  <p>
    <%= blog.submit "Add a new post" %>
  </p>


<%#= blog.password_field :password %>
<% end %>