<%= form_with model: @blog, local: true do |blog| %>

  <form>

    <div class="form-group row">
      <%= blog.label :title, for: 'title_input', class: "col-sm-2 col-form-label" %>
      <%= blog.text_field :title, class: 'form-control col-sm-10', id: 'title_input' %>
    </div>


    <div class="form-group row">
      <%= blog.label :content, for: 'content_input', class: "col-sm-2 col-form-label" %>
      <%= blog.text_area :content, class: 'form-control col-sm-10', id: 'content_input' %>
    </div>

    <%= blog.submit "Add or update post", class: 'btn btn-outline-primary' %>

  </form>

<% end %>


<%= render 'errors' %>
